footer {
  position: relative;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 480px;
  overflow: hidden;
}

.footer-bg {
  position: absolute;
  top: -120px;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer-conteudo {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: var(--32p);
  padding: 0 var(--32p)  var(--80p) var(--32p);
}

.footer-bg svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(3) scaleX(2.25);
  transform-origin: bottom;
  pointer-events: none;
}
