footer {
  position: relative;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 480px;
  overflow: hidden;
  text-align: center;
}

.footer-bg {
  position: absolute;
  top: calc(var(--120p) * -1);
  left: 0;
  right: 0;
  bottom: 0;
}

.footer-conteudo {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: var(--32p);
  padding: 0 var(--28p) var(--80p) var(--28p);
}

.footer-bg svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(3) scaleX(2.25);
  transform-origin: bottom;
  pointer-events: none;
}

@media only screen and (max-width: 58rem) {
  .footer-bg {
    top: -var(--10p);
  }

  .footer-conteudo {
    padding: 0 var(--32p) var(--40p) var(--32p);
  }
}

@media only screen and (max-width: 38rem) {
  .footer-bg {
    top: calc(var(--80p) - var(--8p));
    background: linear-gradient(var(--cor-09) 50%, var(--cor-p4) 50%);
  }
  @media (prefers-color-scheme: light) {
    .footer-bg {
      background: linear-gradient(var(--cor-08) 50%, var(--cor-p4) 50%);
    }
  }

  .footer-conteudo {
    justify-content: flex-end;
    align-items: center;
    gap: var(--16p);
  }

  .footer-conteudo menu {
    gap: var(--16p);
  }

  .footer-conteudo menu {
    flex-direction: column;
  }

  .footer-bg svg {
    width: 100%;
    height: 100%;
  }
}
