* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-10);
  font-family: 'roboto', Arial, Helvetica, sans-serif;
}

ul, menu{
  list-style: none;
}

a{
  color: var(--cor-p1);
}
a:hover{
  color: var(--cor-00);
}

img{
  display: block;
  max-width: 100%;
}

