* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

a{
  color: var(--cor-p1);
  display: inline-block;
}

img{
  display: block;
  max-width: 100%;
}

