* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--cor-09);
  font-family: "roboto", Arial, Helvetica, sans-serif;
  padding-top: 90px;
  padding-bottom: 1000px;
}

ul,
menu {
  list-style: none;
}

a {
  color: inherit;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
