.header-bg {
  width: 100%;
  background-color: var(--cor-10);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-90px);
  z-index: 1000;
  box-shadow: var(--sombra-fraca);
  transition: 0.5s;
}
.header-bg.visivel {
  top: 0;
  transform: translateY(0);
}

.header {
  display: flex;
  gap: var(--60p);
  align-items: center;
  padding-bottom: var(--28p);
  padding-top: var(--28p);
}

.header nav {
  margin-left: auto;
}

menu {
  display: flex;
  align-items: center;
  gap: var(--36p);
}

menu a {
  text-decoration: none;
}
.header a:hover {
  color: var(--cor-p4);
}

/* animaçã do menu ativo*/
.header a.ativo::after {
  content: "";
  display: block;
  width: 100%;
  height: var(--2p);
  background-color: currentColor;
  border-radius: var(--2p);
}
.header a.ativo:hover {
  color: inherit;
}

.header .btn-ligth-dark-mode::before {
  content: "";
  display: inline-block;
  width: var(--12p);
  height: var(--20p);
  background: var(--dec-pequeno);
  position: absolute;
  left: calc(var(--20p) * -1);
}

.header span {
  display: none;
  width: var(--20p);
  height: var(--20p);
  border-radius: var(--8p);
  background-color: var(--cor-00);
}

@media only screen and (max-width: 58rem) {
  .header {
    gap: var(--32p);
  }
  .header nav {
    display: none;
  }
  .header span {
    display: block;
  }
  .header .btn-ligth-dark-mode {
    margin-left: auto;
  }
}

@media only screen and (max-width: 38rem) {
  .header-bg {
    border-top: var(--4p) solid var(--cor-p4);
  }
  .header .btn-ligth-dark-mode {
    display: none;
  }
  .header span {
    display: block;
    margin-left: auto;
  }
}
