.header-bg {
  width: 100%;
  background-color: var(--cor-10);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-90px);
  z-index: 1000;
  box-shadow: var(--sombra-fraca);
  transition: 0.5s;
}
.header-bg.visivel {
  top: 0;
  transform: translateY(0);
}

.header {
  display: flex;
  gap: var(--60p);
  align-items: center;
  padding-bottom: var(--28p);
  padding-top: var(--28p);
}

.header nav {
  margin-left: auto;
}

menu {
  display: flex;
  align-items: center;
  gap: var(--36p);
}

menu .menu-link {
  text-decoration: none;
}
.header .menu-link:hover {
  color: var(--cor-p4);
}

/* animaçã do menu ativo*/
.js .header .menu-link.ativo::after {
  content: "";
  display: block;
  width: 100%;
  height: var(--2p);
  background-color: currentColor;
  border-radius: var(--2p);
}
.js .header .menu-link.ativo:hover {
  color: inherit;
}

.header .btn-ligth-dark-mode::before {
  content: "";
  display: inline-block;
  width: var(--12p);
  height: var(--20p);
  background: var(--dec-pequeno);
  position: absolute;
  left: calc(var(--20p) * -1);
}

.menu-hamburguer {
  display: none;
  padding: var(--20p) var(--12p);
  border: none;
  border-radius: var(--4p);
  background-color: var(--cor-10);
  cursor: pointer;
}

.menu-hamburguer:hover {
  background-color: var(--cor-08);
}

/* icone do menui hamburguer */
.menu-hamburguer span {
  display: block;
  height: 2px;
  width: 20px;
  background-color: var(--cor-01);
  position: relative;
  border-radius: 2px;
}
.menu-hamburguer span::before {
  content: "";
  display: block;
  height: 2px;
  width: 20px;
  background-color: inherit;
  position: absolute;
  top: -8px;
  border-radius: 2px;
}
.menu-hamburguer span::after {
  content: "";
  display: block;
  height: 2px;
  width: 20px;
  background-color: inherit;
  position: absolute;
  bottom: -8px;
  border-radius: 2px;
}

@media only screen and (max-width: 58rem) {
  .header {
    gap: var(--32p);
    padding-bottom: var(--20p);
    padding-top: var(--28p);
  }

  .js .header nav {
    display: none;
  }
  .js .header nav.visivel,
  .header nav {
    display: block;
    width: 100%;
    padding: var(--20p);
    background-color: var(--cor-10);
    position: fixed;
    top: 90px;
    left: 0;
    border-top: var(--2p) solid var(--cor-p4);
  }

  .js .header nav.visivel menu,
  .header nav menu {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--20p);
  }

  .js .header nav.visivel .menu-link,
  .header nav .menu-link {
    flex-grow: 1;
    width: 100%;
    text-align: center;
    padding: var(--8p);
    background-color: var(--cor-08);
    border-radius: var(--4p);
  }

  .js .header nav.visivel .menu-link:hover,
  .header nav .menu-link:hover {
    color: inherit;
    background-color: var(--cor-06);
  }
  .js .header nav.visivel .menu-link.ativo:hover {
    background-color: var(--cor-08);
  }

  .header nav.visivel menu li .menu-link.ativo::after {
    display: none;
  }
  .js .header nav menu li:has(.ativo) {
    display: block;
    border-bottom: var(--2p) solid var(--cor-01);
  }

  .menu-hamburguer {
    display: block;
  }

  .header .btn-ligth-dark-mode {
    margin-left: auto;
  }
}

@media only screen and (max-width: 38rem) {
  .header-bg {
    border-top: var(--4p) solid var(--cor-p4);
  }
  .header .btn-ligth-dark-mode {
    display: none;
  }
  .menu-hamburguer {
    margin-left: auto;
  }
}
