:root {
  --sombra-forte: 0px 4px 4px 2px #00000040;
  --sombra-fraca: 0px 2px 4px 0px #00000033;
  --briho: 0px 1px 4px 0px #075287e1;
  --brilho-forte: 0px 2px 4px 1px #075287e1
  --brilho-check: 0px 0px 4px 1px #07518799;
  --sombra-interna-active: inset 0px 2px 2px 0px #00000026;
  --sombra-interna-check: inset 0px 0px 4px 2px #000000cc;
}

@media (prefers-color-scheme: light) {
  :root {
    --sombra-interna-check: inset 0px 0px 2px 1px #00000059;
  }
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

/* cards */
.card {
  background-color: var(--cor-10);
  border-radius: var(--16p);
  box-shadow: var(--sombra-fraca);
}
.card.grande {
  border-radius: var(--36p);
  box-shadow: var(--sombra-forte);
}
.card.borda {
  border-bottom: var(--4p) solid var(--cor-p4);
}

.tom-primario {
  background-color: var(--cor-10);
}
.tom-primario .card{
  background-color: var(--cor-09);
}

.tom-secundario {
  background-color: var(--cor-09);
}
.tom-secundario .card{
  background-color: var(--cor-08);
}


@media (prefers-color-scheme: light) {
  .tom-primario {
    background-color: var(--cor-09);
  }
  .tom-primario .card{
    background-color: var(--cor-10);
  }
  
  .tom-secundario {
    background-color: var(--cor-08);
  }
  .tom-secundario .card{
    background-color: var(--cor-09);
  }
}




