:root {
  --sombra-forte: 0px 4px 4px 2px #00000040;
  --sombra-fraca: 0px 2px 4px 0px #00000033;
  --briho: 0px 1px 4px 0px #075287e1;
  --brilho-forte: 0px 2px 4px 1px #075287e1
  --brilho-check: 0px 0px 4px 1px #07518799;
  --sombra-interna-active: inset 0px 2px 2px 0px #00000026;
  --sombra-interna-check: inset 0px 0px 4px 2px #000000cc;
  --dec-pequeno: url(../../img/decoracao/dec-menu.svg);
  --decoracao: url(../../img/decoracao/dec.svg);
  --fundo-introducao: url(../../img/introducao-fundo.png);
  --fundo-experiencia: url(../../img/bg-experiencias.jpg)
}

@media (prefers-color-scheme: light) {
  :root {
    --sombra-interna-check: inset 0px 0px 2px 1px #00000059;
    --dec-pequeno: url(../../img/decoracao/dec-menu-ligth.svg);
    --decoracao: url(../../img/decoracao/dec-ligth.svg);
    --fundo-introducao: url(../../img/introducao-fundo-ligth.png);
    --fundo-experiencia: url(../../img/bg-experiencias-ligth.jpg)
  }
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

/* cards */
.card {
  background-color: var(--cor-10);
  border-radius: var(--16p);
  box-shadow: var(--sombra-fraca);
}
.card.grande {
  border-radius: var(--36p);
  box-shadow: var(--sombra-forte);
}
.card.borda {
  border-bottom: var(--4p) solid var(--cor-p4);
}

.tom-primario {
  background-color: var(--cor-10);
}
.tom-primario .card{
  background-color: var(--cor-09);
}

.tom-secundario {
  background-color: var(--cor-09);
}
.tom-secundario .card{
  background-color: var(--cor-08);
}


@media (prefers-color-scheme: light) {
  .tom-primario {
    background-color: var(--cor-09);
  }
  .tom-primario .card{
    background-color: var(--cor-10);
  }
  
  .tom-secundario {
    background-color: var(--cor-08);
  }
  .tom-secundario .card{
    background-color: var(--cor-09);
  }
}

.lista-links{
  display: flex;
  gap: var(--28p);
  align-items: center;
  max-width: max-content;
}

@media only screen and (max-width: 38rem /* 600px */) {
  .lista-links{
    gap: 0;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 25rem /* 600px */) {
  .lista-links{
  gap: var(--8p);
   flex-wrap: wrap;
   justify-content: center;
  }
}

/* decoração titulo */

.decoracao::before{
    content: "";
    display: block;
    width: var(--8p);
    height: var(--12p);
    background: linear-gradient(var(--gradiente-primario2));
    position: absolute;
    top: 26px;
    left: calc(var(--12p) * -1);
}

@media only screen and (max-width: 68rem) {
  .decoracao::before {
    top: 14px;
  }
}

.link{
  color: var(--cor-p1);
}
.link:hover{
  color: var(--cor-00);
}


