@font-face {
  font-family: "Lemon Bold";
  src: url(fonts/LEMONMILK-Bold.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lemon light";
  src: url(fonts/LEMONMILK-Light.otf) format("opentype");
  font-weight: 300;
  font-style: normal;
}

:root {
  --font-display-XGG: 700 3rem/1.25 "Lemon Bold", sans-serif;
  --font-display-XG: 700 2.25rem/1.15 "Lemon Bold", sans-serif;
  --font-primaria-XG: 700 2.25rem/1.11 "Poppins", sans-serif;
  --font-display-GG: 700 2rem/1.25 "Lemon Bold", sans-serif;
  --font-primaria-GG: 600 2rem/1.25 "Poppins", sans-serif;
  --font-display-G: 700 1.75rem/1.5 "Lemon Bold", sans-serif;
  --font-primaria-G: 700 1.75rem/1.5 "Poppins", sans-serif;
  --font-display-m: 300 1.5rem/1.5 "Lemon light", sans-serif;
  --font-primaria-m: 700 1.5rem/1.3 "Poppins", sans-serif;
  --font-texto-m: 400 1.5rem/1.15 "Roboto", sans-serif;
  --font-primaria-p: 600 1.25rem/1.5 "Poppins", sans-serif;
  --font-primaria-p-b: 700 1.25rem/1.5 "Poppins", sans-serif;
  --font-texto-p: 400 1.25rem/1.5 "Roboto", sans-serif;
  --font-primaria-pp-xb: 700 1rem/1.5 "Poppins", sans-serif;
  --font-primaria-pp-b: 600 1rem/1.5 "Poppins", sans-serif;
  --font-display-pp: 300 1rem/1.5 "Lemon light", sans-serif;
  --font-primaria-pp: 500 1rem/1.5 "Poppins", sans-serif;
  --font-texto-pp: 400 1rem/1.25 "Roboto", sans-serif;
  --font-primaria-xp: 500 0.75rem/1.25 "Poppins", sans-serif;
  --font-primaria-xp-b: italic 900 0.75rem/1.5 "Poppins", sans-serif;
  --font-texto-xp: 400 0.75rem/1.5 "Roboto", sans-serif;
}

/* classes Ultilitarias
/* titulos e subtitulos */
.titulo-principal {
  font: var(--font-display-XGG);
  letter-spacing: 1.5;
}

.subtitulo-principal-grande {
  font: var(--font-primaria-XG);
  letter-spacing: 1.5;
}

.subtitulo-principal-medio {
  font: var(--font-primaria-m);
  letter-spacing: 1.5;
}

.subtitulo-principal-pequeno {
  font: var(--font-primaria-pp-xb);
  letter-spacing: 1.5;
}

.subtitulo-secundario-grande {
  font: var(--font-display-m);
  letter-spacing: 1.5;
}

.subtitulo-decorativo {
  font: var(--font-display-XG);
  letter-spacing: 1.5;
}

/* textos funcionais (botoes e links)*/
.texto-funcional1-grande {
  font: var(--font-primaria-GG);
  text-transform: uppercase;
  letter-spacing: 1.5;
}

.texto-funcional1-pequeno {
  font: var(--font-primaria-pp-b);
  letter-spacing: 1.5;
  text-transform: uppercase;
}

.texto-funcional2 {
  font: var(--font-primaria-pp);
  letter-spacing: 1.5;
}

/* textos*/

.texto-primario {
  font: var(--font-texto-m);
}

.texto-secundario {
  font: var(--font-texto-p);
}

.texto-terciario {
  font: var(--font-texto-pp);
}

.destaque {
  font: var(--font-primaria-xp-b);
  text-transform: uppercase;
}

strong {
  font-weight: 600;
}

@media only screen and (max-width: 68rem) {
  .titulo-principal {
    font: var(--font-display-XG);
  }

  .texto-terciario {
    font: var(--font-texto-xp);
  }

  .subtitulo-secundario-grande {
    font: var(--font-display-pp);
  }

  .subtitulo-decorativo {
    font: var(--font-display-G);
  }
}

@media only screen and (max-width: 38rem /* 600px */) {
  /* titulos e subtitulos */
  .titulo-principal {
    font: var(--font-display-GG);
  }

  .subtitulo-principal-grande {
    font: var(--font-primaria-G);
  }

  .subtitulo-principal-medio {
    font: var(--font-primaria-p-b);
  }


  /* textos funcionais (botoes e links)*/

  .texto-funcional1-grande {
    font: var(--font-primaria-p);
  }


  .texto-funcional2 {
    font: var(--font-primaria-xp);
  }

  /* textos*/
  .texto-primario {
    font: var(--font-texto-pp);
  }

  .texto-secundario {
    font: var(--font-texto-pp);
  }
}
