.introducao {
  background: var(--fundo-introducao) no-repeat center bottom/cover;
  padding: var(--20p) var(--20p) var(--200p) var(--20p);
}

.introducao-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--40p);
  position: relative;
  padding-right: var(--40p);
  max-height: 600px;
}

.introducao-informacao {
  background: var(--decoracao) no-repeat top right;
}

.introducao-informacao h2 {
  margin-bottom: var(--20p);
}

/* decoração titulo princiapal*/
.introducao-informacao h1 {
  max-width: 10ch;
  position: relative;
  margin-bottom: var(--28p);
}
.introducao-informacao h1::before {
  content: "";
  display: block;
  width: var(--8p);
  height: var(--12p);
  background: linear-gradient(var(--gradiente-primario2));
  position: absolute;
  top: 26px;
  left: calc(var(--12p) * -1);
}

.introducao-informacao .lista-links {
  margin-bottom: var(--80p);
}

.diferencial {
  display: flex;
  gap: var(--20p);
  max-width: max-content;
  margin: auto;
}

.diferencial h3 {
  max-width: 12ch;
  margin-bottom: var(--12p);
}

.diferencial p {
  min-width: 20ch;
  max-width: 26ch;
}

.introducao-conteudo .imagem-perfil {
  margin-top: calc(var(--60p) * -1);
  margin-bottom: calc(var(--60p) * -1);
  width: 100%;
}
.introducao-conteudo .imagem-perfil img {
  object-fit: cover;
  object-position: left;
  height: 100%;
  border-radius: var(--8p);
}

@media only screen and (max-width: 68rem) {
  .introducao-informacao h1::before {
    top: 14px;
  }
}

@media only screen and (max-width: 58rem) {
  .introducao {
    padding-top: var(--12p);
    padding-bottom: calc(var(--200p) + 60px);
  }
  .introducao-conteudo {
    grid-template-columns: 1fr;
    max-height: 900px;
  }
  .introducao-conteudo .imagem-perfil {
    margin-top: 0;
    margin-bottom: calc(var(--120p) * -1);
  }
  .introducao-conteudo .imagem-perfil img {
    border-radius: var(--32p);
  }
  .introducao-informacao h2 br {
    display: none;
  }
  .diferencial {
    margin-bottom: var(--16p);
  }
}

@media only screen and (max-width: 38rem /* 600px */) {
  .introducao-informacao h1::before {
    width: var(--16p);
    height: var(--8p);
    position: initial;
  }

  .introducao-informacao h2 {
    margin-bottom: var(--12p);
  }

  .diferencial {
    flex-direction: column;
  }
}

