.contato-bg {
  padding-top: var(--32p);
  padding-bottom: 0;
}

.contato {
  background: var(--decoracao) no-repeat top right;
}

.contato h2 {
  margin-bottom: var(--32p);
}

.contato > p {
  margin-bottom: var(--28p);
}

.contatos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--40p);
  overflow: hidden;
}

.contato-card {
  display: grid;
  grid-template-columns: auto auto;
  align-items: start;
  gap: var(--32p) var(--16p);
}
.contato-card.principal {
  padding-left: var(--80p);
  position: relative;
  grid-column: span 2;
  background-image: var(--decoracao);
  background-repeat: no-repeat;
  background-position: top var(--32p) right var(--32p);
}

.contato-card .contato-icone {
  width: var(--48p);
  height: var(--48p);
  background-color: var(--cor-p4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--8p);
}
.principal .contato-icone {
  position: absolute;
  height: 100%;
  border-radius: var(--16p) 0 0 var(--16p);
}

.contato-card h3 {
  align-self: center;
  justify-self: start;
}

.contato-card .btn-primario {
  grid-row: 3;
  grid-column: 1 / -1;
  place-self: end;
}
.contato-card.principal .btn-primario {
  grid-column: 2;
}

.contato-card .copy-area {
  grid-column: 1 / -1;
}

@media only screen and (max-width: 58rem) {
  .contato {
    background: none;
  }

  .contatos {
    grid-template-columns: 1fr 1fr;
    gap: var(--20p);
  }

  .contato-card.principal {
    order: -1;
    background-image: none;
  }
}

@media only screen and (max-width: 38rem) {
  .contato-bg {
    padding: var(--20p) var(--20p) 0 var(--20p);
  }

  .contatos {
    grid-template-columns: 1fr;
  }

  .contato-card.principal {
    grid-column: initial;
    grid-template-columns: 1fr;
    padding-left: var(--60p);
  }

  .contato-card.principal .btn-primario {
    grid-row: 4;
    grid-column: 1 / -1;
  }
}
