.contato-bg {
  padding: var(--32p) var(--60p);
}

.contato h2 {
  margin-bottom: var(--32p);
}

.contato > p {
  margin-bottom: var(--20p);
}

.contatos {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--40p);
}

.contato-card {
  display: grid;
  grid-template-columns: auto auto;
  align-items: start;
  gap: var(--32p) var(--16p);
}

.contato-card.principal {
  padding-left: var(--80p);
  position: relative;
}

.contato-card .contato-icone {
  width: 48px;
  height: 48px;
  background-color: var(--cor-p4);
  display: inline-block;
  border-radius: 8px;
}

.principal .contato-icone {
  position: absolute;
  height: 100%;
  border-radius: var(--16p) 0  0 var(--16p);
}

.contato-card h3 {
  align-self: center;
}
.contato-card.principa h3 {
  grid-column: 1;
}

.copy-area {
  grid-column: 1 / -1;
  border: 2px solid var(--cor-p4);
  border-radius: var(--8p);
  display: flex;
  overflow: hidden;
}

.copy-area p {
  padding: var(--8p);
  min-width: max-content;
}

.contato-card .btn-primario {
  grid-row: 3;
  grid-column: 1 / -1;
  place-self: end;
}

.contato-card.principal .btn-primario {
  grid-column: 2;
}
