.experiencia {
  padding: 0 var(--20p) var(--20p) var(--20p);
  background: var(--fundo-experiencia) no-repeat center/cover fixed;
}

.profissional,
.educacional {
  display: grid;
  gap: var(--20p);
  overflow-x: auto;
}
/* barra de rolagem */
.profissional::-webkit-scrollbar,
.educacional::-webkit-scrollbar {
  height: var(--12p);
}
.profissiona::-webkit-scrollbar-track,
.educacional::-webkit-scrollbar-track {
  background: transparent;
}
.profissional::-webkit-scrollbar-thumb,
.educacional::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 30%);
  border-radius: var(--20p);
  border: 3px solid transparent;
}

.profissional {
  grid-template-columns: repeat(2, minmax(760px, 1fr));
  margin-bottom: var(--20p);
  padding-top: var(--40p);
}

.educacional {
  grid-template-columns: repeat(3, minmax(500px, 1fr));
}

.profissional .card {
  position: relative;
}

.profissional .destaque {
  position: absolute;
  top: calc(var(--28p) * -1);
  padding-left: var(--8p);
}

.experiencia-item {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  align-items: center;
}

.experiencia-item h4 {
  margin-bottom: var(--16p);
}

.educacional h4 {
  max-width: 10ch;
}

.experiencia-item h4 + span {
  display: block;
  margin-bottom: var(--20p);
}

.educacional .experiencia-item h4 + span {
  grid-column: 2;
  grid-row: 1;
  max-width: 8ch;
  align-self: center;
  justify-self: end;
}

.experiencia-item span ul {
  list-style: none;
}

.experiencia-item p,
.experiencia-item ul {
  margin-bottom: var(--40p);
}

.educacional .experiencia-item p,
.educacional .experiencia-item ul {
  grid-column: span 2;
}

.experiencia-item span ul {
  list-style-type: none;
}

.experiencia-item ul {
  flex-grow: 2;
  list-style-type: disc;
  padding-left: var(--16p);
}

.experiencia-item .btn-primario {
  place-self: end;
}

.educacional .experiencia-item .btn-primario {
  grid-column: span 2;
}

@media only screen and (max-width: 58rem) {
  .profissional {
    grid-template-columns: repeat(2, minmax(512px, 1fr));
  }
  .educacional {
    grid-template-columns: repeat(3, minmax(460px, 1fr));
  }
}

@media only screen and (max-width: 38rem) {
  .experiencia {
    padding: 0 var(--12p) var(--12p) var(--12p);
  }

  .profissional {
    grid-template-columns: repeat(2, minmax(420px, 1fr));
  }
  .educacional {
    grid-template-columns: repeat(3, minmax(360px, 1fr));
  }
}
