.introducao {
  background: var(--fundo-introducao) no-repeat center bottom/cover;
  padding-bottom: var(--200p);
  padding-top: var(--28p);
}

.introducao-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--28p) var(--40p);
  position: relative;
  padding-right: var(--40p);
  max-height: 600px;
  position: relative;
}

.introducao-informacao {
  background: var(--decoracao) no-repeat top right;
}

.introducao-informacao h2 {
  margin-bottom: var(--20p);
}

.introducao-informacao h1 {
  max-width: 10ch;
  margin-bottom: var(--28p);
}

.introducao-informacao .lista-links {
  margin-bottom: var(--40p);
}

.diferencial {
  display: flex;
  gap: var(--20p);
  margin: 0 auto;
}

.diferencial button {
  background: none;
  border: none;
  text-align: left;
  cursor: text;
}

.diferencial img {
  margin-bottom: var(--16p);
}

.diferencial h3 {
  max-width: 12ch;
  margin-bottom: var(--12p);
}

.diferencial p {
  min-width: 20ch;
  max-width: 26ch;
}

.introducao-conteudo .imagem-perfil {
  margin-top: calc(var(--60p) * -1.14);
  margin-bottom: calc(var(--60p) * -1);
  width: 100%;
  grid-row: 1 / span 2;
  grid-column: 2;
}
.introducao-conteudo .imagem-perfil img {
  object-fit: cover;
  object-position: left;
  height: 100%;
  border-radius: var(--8p);
}

@media only screen and (max-width: 58rem) {
  .introducao {
    padding-top: var(--12p);
    padding-bottom: calc(var(--200p) + 60px);
  }
  .introducao-conteudo {
    grid-template-columns: 1fr;
    max-height: 900px;
  }
  .introducao-conteudo .imagem-perfil {
    margin-top: 0;
    margin-bottom: calc(var(--120p) * -1);
    grid-row: initial;
    grid-column: initial;
  }
  .introducao-conteudo .imagem-perfil img {
    border-radius: var(--32p);
  }

  .introducao-informacao h2 br {
    display: none;
  }
  .diferencial {
    margin-bottom: var(--16p);
  }
}

@media only screen and (max-width: 38rem /* 600px */) {
  .introducao.p-container {
    padding-left: var(--16p);
    padding-right: var(--16p);
  }

  .introducao-conteudo {
    padding-right: var(--20p);
    max-height: 1000px;
  }

  .introducao-informacao {
    background: none;
  }

  .introducao-informacao h1::before {
    width: var(--16p);
    height: var(--8p);
    position: initial;
  }

  .introducao-informacao .lista-links {
    margin-bottom: 0;
  }

  .diferencial {
    flex-direction: column;
    gap: 0;
    order: 2;
    padding-top: var(--120p);
  }

  .diferencial-item {
    padding: var(--12p);
    background-color: var(--cor-08);
    border-radius: 0;
    border: 1px solid var(--cor-07);
  }
  .diferencial-item:first-child {
    border-radius: var(--8p) var(--8p) 0 0;
  }
  .diferencial-item:last-child {
    border-radius: 0 0 var(--8p) var(--8p);
  }

  .diferencial-item button {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: var(--12p);
    width: 100%;
    margin-bottom: var(--8p);
    cursor: pointer;
  }
  .diferencial-item button::after {
    content: "";
    width: var(--12p);
    height: var(--8p);
    background: url(../../img/icones/seta-indicador.svg) no-repeat;
  }

  .diferencial img,
  .diferencial h3,
  .introducao-conteudo .imagem-perfil img {
    margin-bottom: 0;
  }

  .diferencial h3 {
    max-width: initial;
  }

  .diferencial-item p {
    max-width: 50ch;
    display: none;
  }
  .diferencial-item.ativo p {
    display: block;
  }

  .introducao-conteudo .imagem-perfil img {
    border-radius: var(--8p);
  }
}
